.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem auto 1rem;
  width: 100vw;

  background-image: url("../../images/fern.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50vw 0;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $dark-green-transparent;
    border: 12px solid $off-white;
    border-radius: 18px;
    width: 70vw;
    padding: 1rem;
  }

  &__vertical-dots {
    border-left: 15px dotted $off-white;
    height: 25vh;
    margin-top: 1rem;
  }

  &__bird {
    position: absolute;
    opacity: 0.6;
    width: 700px;
    height: 700px;
    object-fit: none;
    object-position: 83% 0;
    z-index: -1;
    left: -4vw;
  }

  &__fern {
    position: absolute;
    z-index: -1;
    opacity: 0.7;
    transform: rotate(-7.56deg);
    right: -3vw;
  }

  &__title {
    color: $highlight-yellow;
    font-weight: 600;
    font-size: 3rem;
  }

  &__content {
    display: flex;
  }

  &__text {
    display: flex;
    align-items: center;
    font-size: 30px;
    width: 50%;
    padding: 1rem;
  }

  &__cv-link {
    color: #e9edca;
  }

  &__cv-link:hover {
    color: #198754;
  }

  &__image-wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1rem;
  }

  &__images {
    border: 8px solid $off-white;
    border-radius: 18px;
    margin: 0.5rem;
    &--cats {
      width: 30%;
      margin-left: 5rem;
    }
    &--circus {
      width: 50%;
      margin-left: 12rem;
    }
  }
}

@media only screen and (max-width: 992px) {
  .about {
    &__wrapper {
      border: 8px solid $off-white;
      width: 88vw;
      padding: 0.2rem;
    }

    &__vertical-dots {
      border-left: 15px dotted $off-white;
      height: 25vh;
      margin-top: 1rem;
    }

    &__bird {
      visibility: hidden;
    }

    &__title {
      color: $highlight-yellow;
      font-weight: 600;
      font-size: 3rem;
      margin: 1rem auto 0;
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__text {
      text-align: center;
      font-size: 1.2rem;
      width: 83vw;
      padding: 0.8rem;
      margin-bottom: 0;
    }

    &__image-wrapper {
      align-items: center;
      width: 85vw;
      padding: 0.5rem;
      margin-bottom: 0;
    }

    &__images {
      border: 3px solid $off-white;
      margin: 0.5rem;
      &--cats {
        width: 50vw;
        margin-left: 8;
      }
      &--circus {
        width: 80vw;
        margin-left: 8;
      }
    }
  }
}
