.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  display: flex;
  color: $off-white;
  &__wrapper {
    display: flex;
    justify-content: center;
    margin-top: 45vh;
  }

  &__tropical--left {
    position: absolute;
    width: 33rem;
    right: 64vw;
    top: 10vh;
    opacity: 0.38;
    transform: rotate(95.9deg);
    z-index: -1;
  }
  &__tropical--right {
    position: absolute;
    width: 55rem;
    left: 60vw;
    top: -5vh;
    opacity: 0.2;
    transform: rotate(180deg);
    z-index: -1;
  }
  &__image {
    margin: 2rem;
    width: 15rem;
    height: 15rem;
    border: 10px solid $off-white;
    border-radius: 15px;
  }
  &__text {
    margin: 2rem;
    text-align: right;
    h1 {
      font-weight: 600;
      font-size: 4rem;
    }
    h3 {
      font-weight: 500;
      font-size: 2rem;
    }
  }
}

.highlighted {
  color: $highlight-yellow;
}

.vertical-dots {
  margin-top: -7rem;
  border-left: 15px dotted $off-white;
  height: 22.5rem;
}

@media only screen and (max-width: 992px) {
  .intro {
    &__wrapper {
      flex-direction: column;
      align-items: center;
    }
    &__text {
      text-align: center;
      h1 {
        font-weight: 600;
        font-size: 2.5rem;
      }
      h3 {
        font-weight: 500;
      }
    }
    &__wrapper {
      margin-top: 15vh;
    }
  }
  .vertical-dots {
    margin-top: -1.3rem;
    border-left: 15px dotted $off-white;
    height: 22.5rem;
  }
}
