.projects {
  position: relative;
  width: 100vw;
  background-image: url('../../images/tropical-leaf-silhouette-green.png');
  background-repeat: no-repeat;
  background-position: center;

  &__leaf {
    position: absolute;
    width: 55rem;
    opacity: 0.2;
    transform: rotate(180deg);
    z-index: -1;
    margin-left: auto;
    margin-right: auto;
  }

  &__title-box {
    width: fit-content;
    margin: 2.5rem auto 1.5rem;
    padding: 1rem;
    background: $dark-green-transparent;
    border: 8px solid #f9f9f9;
    border-radius: 16px;
  }

  &__title {
    color: $highlight-yellow;
    font-weight: 600;
    font-size: 3rem;
    margin: 0;
  }
}

.project {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__text {
    max-width: 10rem;
  }

  &__img {
    max-height: 20rem;
    max-width: 16rem;
    border-radius: 3px;

    &-light {
      border-color: $dark-green;
    }
  }

  &__img-btn {
    border: 0.3rem solid;
    border-radius: 8px;
    border-color: $darker-green;
  }

  &__img-btn:hover {
    border-color: $dark-green;
  }

  &__light {
    & p,
    h3 {
      color: black;
    }
  }

  &__button {
    background-color: $darker-green;
    padding: 0.3rem;
    border-radius: 5px;
    border: 0;
    margin: 1rem 1rem auto auto;

    &-light {
      background-color: $dark-green;
    }
    &-demo {
      display: flex;
      align-items: center;
      margin: 1rem 1rem 0 0;
    }
  }

  &__link {
    text-decoration: none;
  }
}

.vertical-timeline-element-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 992px) {
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: normal;

    &__title-box {
      margin: 0.5rem auto;
    }

    &__title {
      font-size: 3rem;
      margin: 0;
      line-height: 1;
    }
    &__vertical-dots {
      height: 6vh;
      border-right: 15px dotted $off-white;
    }
  }

  .vertical-timeline {
    margin-top: -10px !important;
    width: auto !important;

    &-element-content {
      padding-bottom: 0 !important;
      margin-left: 0 !important;
      margin-top: 72px !important;
    }

    &-element-icon {
      top: -55px !important;
      left: 50% !important;
      transform: translate(-50%, 0) !important;
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }

  .project {
    &__wrapper {
      flex-direction: column;
      align-items: center;
    }

    &__text {
      max-width: auto;
      text-align: center;
      margin: 0 !important;
      h3 {
        font-size: 1.5rem !important;
      }
      p {
        font-size: 1rem !important;
        margin-bottom: 0.5rem !important;
      }
    }

    &__img {
      max-height: 100vh;
      max-width: 57vw;

      &-light {
        border-color: $dark-green;
      }
    }

    &__light {
      & p,
      h3 {
        color: black;
      }
    }

    &__buttons-wrapper {
      display: flex;
      justify-content: center;
    }

    &__button {
      display: flex;
      align-items: center;
      background-color: $darker-green;
      padding: 0.3rem;
      border-radius: 5px;
      border: 0;
      width: 25vw;
      margin: 0 auto 0.5rem;

      &-light {
        background-color: $dark-green;
      }
    }
  }
  .vertical-timeline {
    padding: 0.5rem 0 !important;
  }
}
